.school-page-container {
  width: 1440px;
  margin: 0 auto; /* Center the container horizontally */
  background: #ffffff; /* Add white background */
  /* Add any other styles for the container if needed */
}

.main-part-container {
  width: 1440px;
  height: 1093px;
  margin: 0 auto;
  background-image: url("img/header-background.jpg"); /* Adjust with the actual image file name and path */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* Add any other styles for the main part container if needed */
}

.header {
  width: 1103.41px;
  height: 29.46px;
  position: relative;
  top: 35.02px;
  left: 171.59px;
  padding: 0px;
  gap: 0px;
  opacity: 0;
  /* Add any other styles for the header if needed */
}

#header .logo {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  z-index: 1;
  background-image: url("img/SmileSchool.png"); /* Specify the image URL here */
  /* Add any other styles for the logo if needed */
}

#header .nav {
  width: 903.41px; /* Adjust the width as needed */
  height: 29.46px; /* Adjust the height as needed */
  z-index: 1;
  /* Add any other styles for the menu if needed */
}

.testimonials-container {
  width: 1440px;
  height: 392px;
  top: 1093px;
  left: -1px;
  gap: 0px;
  opacity: 1; /* Set opacity to 1 to make the container fully visible */
  background: #c271ff; /* Add background color */
  /* Add any other styles for the testimonials container if needed */
}

.testimonial {
  width: 943px;
  height: 160px;
  top: 1201px;
  left: 259px;
  gap: 0px;
  opacity: 0;
  /* Add any other styles for the testimonial if needed */
}

.avatar {
  width: 160px;
  height: 160px;
  top: 1201px;
  left: 259px;
  gap: 0px;
  opacity: 0;
  /* Add any other styles for the avatar if needed */
}

.most-popular-tutorials-container {
  width: 1440px;
  height: 392px;
  top: 1093px;
  left: -1px;
  gap: 0px;
  opacity: 1; /* Set opacity to 1 to make the container fully visible */
}

.membership-container {
  width: 1440px;
  height: 392px;
  top: 1093px;
  left: -1px;
  gap: 0px;
  opacity: 1; /* Set opacity to 1 to make the container fully visible */
  background: #071629; /* Add background color */
}

.faq-container {
  width: 1440px;
  height: 392px;
  top: 1093px;
  left: -1px;
  gap: 0px;
  opacity: 1; /* Set opacity to 1 to make the container fully visible */
}

.footer-container {
  width: 1440px;
  height: 392px;
  top: 1093px;
  left: -1px;
  gap: 0px;
  opacity: 1; /* Set opacity to 1 to make the container fully visible */
  background: #071629; /* Add background color */
}
