.container {
  width: 1440px;
  margin: 0 auto; /* Center the container horizontally */
  /* Add any other styles for the container if needed */
}

.main-part-container {
  width: 1440px;
  height: 1093px;
  margin: 0 auto; /* Center the main part container horizontally */
  /* Add any other styles for the main part container if needed */
}

.header-container {
  width: 1448.15px;
  height: 1055px;
  position: relative;
  top: -66px;
  left: -4.08px;
  background-image: url("img/header-background.jpg"); /* Adjust with the actual image file name and path */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* Add any other styles for the header container if needed */
}
