/* This is the page container */
.container {
  width: 1440px;
  height: 1093px;
  margin: 0 auto; /* This will center the container horizontally if you want it to be centered */
  background-color: #f0f0f0; /* Optional: Add a background color to see the container */
}

.header-container {
  width: 1448.15px;
  height: 1055px;
  position: absolute;
  top: -66px;
  left: -4.08px;
  background-image: url("/img/header-background.jpg"); /* Adjust with the actual image file name */
  background-size: cover; /* Scale the image to cover the container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
